<footer id="footer">
    <div class="container">
        <div class="holder-block">
            <strong class="f-logo"><a href="{{ app.homeUrl }}">{{ app.name }}</a></strong>
            <span class="copyright">&#169; {{ "now"|date("Y") }} Stick It. {{ t('app', 'Все права защищены.') }}</span>
        </div>
        <div class="holder-block">
            {{ menu_widget({
                'options': {
                    'class': 'nav-footer',
                },
                'items': [{
                        'label': 'Как это работает?',
                        'url': '/site/index',
                    }, {
                        'label': 'Тарифы',
                        'url': '/site/index',
                    },
                    {
                        'label': 'Блог',
                        'url': '/news',
                    }
                ]
            }) }}
        </div>
        <div class="holder-block">
            {#{{ menu_widget({#}
                {#'options': {#}
                    {#'class': 'nav-footer',#}
                {#},#}
                {#'items': [{#}
                    {#'label': 'Рекламодателям',#}
                    {#'url': '/site/index',#}
                {#},#}
                    {#{#}
                        {#'label': 'Автомобилистам',#}
                        {#'url': '/site/index',#}
                    {#},#}
                    {#{#}
                        {#'label': 'Исполнителям',#}
                        {#'url': '/site/index',#}
                    {#}#}
                {#]#}
            {#}) }}#}
        </div>
        <div class="holder-block">
            {#{{ menu_widget({#}
                {#'options': {#}
                    {#'class': 'nav-footer',#}
                {#},#}
                {#'items': [{#}
                    {#'label': 'Реклама на сайте',#}
                    {#'url': '/site/index',#}
                {#},#}
                    {#{#}
                        {#'label': 'Конфиденциальность',#}
                        {#'url': '/site/index',#}
                    {#},#}
                    {#{#}
                        {#'label': 'Личный кабинет',#}
                        {#'url': '/site/index',#}
                    {#}#}
                {#]#}
            {#}) }}#}
        </div>
        <div class="holder-block">
            <ul class="social">
                <li>
                    <a class="t-icon" href="#">
                        <i class="fab fa-telegram-plane"></i>
                    </a>
                </li>
                <li>
                    <a class="f-icon" href="#">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                </li>
                <li>
                    <a class="i-icon" href="#">
                        <i class="fab fa-instagram"></i>
                    </a>
                </li>
                <li>
                    <a class="i-icon" href="#">
                        <i class="fab fa-viber"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>

<div class="up">
    <i class="fas fa-arrow-up"></i>
</div>