{{ use('app/widgets/SocialList') }}
<footer id="footer">
    <div class="container">
        <div class="holder-block">
            <strong class="f-logo"><a href="{{ app.homeUrl }}">{{ app.name }}</a></strong>
            <span class="copyright">&#169; {{ "now"|date("Y") }} Stick It. {{ t('app', 'Все права защищены.') }}</span>
        </div>
        <div class="holder-block">
            {{ menu_widget({
                'options': {
                    'class': 'nav-footer',
                },
                'items': getMenu('Footer_1')
            }) }}
        </div>
        <div class="holder-block">
            {{ menu_widget({
                'options': {
                    'class': 'nav-footer',
                },
                'items': getMenu('Footer_2')
            }) }}
        </div>
        <div class="holder-block">
            {{ menu_widget({
                'options': {
                    'class': 'nav-footer',
                },
                'items': [{
                    'label': 'Реклама на сайте',
                    'url': '/site/index',
                },
                    {
                        'label': 'Конфиденциальность',
                        'url': '/site/index',
                    },
                    {
                        'label': 'Личный кабинет',
                        'url': '/site/index',
                    }
                ]
            }) }}
        </div>
        {{ social_list_widget({
            'containerOptions': {
                'tag' : 'div',
                'class': 'holder-block'
            }
        }) }}
    </div>
</footer>

<div class="up">
    <i class="fas fa-arrow-up"></i>
</div>