{{ use('app/widgets/SocialList') }}
{{ use('/yii/helpers/Html') }}
<footer id="footer">
    <div class="container">
        <div class="holder-block">
            <a href="{{ app.homeUrl }}"> <strong class="f-logo">{{ app.name }}</strong></a>
            <span class="copyright">&#169; {{ "now"|date("Y") }} Stick It. {{ t('app', 'Все права защищены.') }}</span>
        </div>
        <div class="holder-block">
            {{ menu_widget({
                'options': {
                    'class': 'nav-footer',
                },
                'items': getMenu('Footer_1')
            }) }}
        </div>
        <div class="holder-block">
            {{ menu_widget({
                'options': {
                    'class': 'nav-footer',
                },
                'items': getMenu('Footer_2')
            }) }}
        </div>
        <div class="holder-block">
            {{ menu_widget({
                'options': {
                    'class': 'nav-footer',
                },
                'items': [{
                    'label': t('app', 'Реклама на сайте'),
                    'url': url.to(['/reklamodatelyam']),
                },
                    {
                        'label': t('app', 'Конфиденциальность'),
                        'url': url.to(['/privacy-policy']),
                    },
                    {
                        'label': t('app', 'Личный кабинет'),
                        'url': url.to(['/myaccount']),
                    }
                ]
            }) }}
        </div>
        {{ social_list_widget({
            'containerOptions': {
                'tag' : 'div',
                'class': 'holder-block'
            }
        }) }}
    </div>
</footer>

<div class="up">
    <i class="fas fa-arrow-up"></i>
</div>