{{ register_asset_bundle('app/assets/AppAsset') }}  {# asset root for yii advanced template #}
{{   void(this.beginPage()) }}
{{ this.registerLinkTag({'rel':'icon', 'type' :'image/png', 'href':'/favicon.png'}) }}
<!DOCTYPE html>
<html lang="{{ app.language }}">
<head>
    <meta charset="{{ app.charset }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ html.encode(this.title) }}</title>
    {{ html.csrfMetaTags | raw }}
    {{   void(this.head) }}
</head>
<body>
    <div id="wrapper">
        <header id="header" class="header">
            <div class="container">
                {% block navbar_top %}
                    {% include 'navbar_top.twig' %}
                {% endblock %}
            </div>
            <div class="holder-nav">
                {% block main_navbar %}
                    {% include 'main_navbar.twig' %}
                {% endblock %}
            </div>
        </header>
        {{   void(this.beginBody()) }}
        <div id="main">
            {{ content | raw}}
        </div>
    </div>
    {% block footer %}
        {% include 'footer.twig' %}
    {% endblock %}
{{   void(this.endBody()) }}
</body>
</html>
{{   void(this.endPage()) }}