{{ register_asset_bundle('app/assets/AppAsset') }}  {# asset root for yii advanced template #}
{{   void(this.beginPage()) }}
{{ this.registerLinkTag({'rel':'icon', 'type' :'image/png', 'href':'/favicon.png'}) }}
<!DOCTYPE html>
<html lang="{{ app.language }}">
<head>
    <meta charset="{{ app.charset }}">
    {{ csrfMetatags }}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ this.title }}</title>
    {{   void(this.head) }}
</head>
<body>
    <div id="wrapper">
        <header id="header">
            <div class="container">
                {% block navbar_top %}
                    {% include 'navbar_top.twig' %}
                {% endblock %}
            </div>
            <div class="holder-nav">
                {% block main_navbar %}
                    {% include 'main_navbar.twig' %}
                {% endblock %}
            </div>
        </header>
        {{   void(this.beginBody()) }}
        <div id="main">
            {{ content | raw}}
        </div>
    </div>
    {% block footer %}
        {% include 'footer.twig' %}
    {% endblock %}
{{   void(this.endBody()) }}
    <script>
        (function ($) {

            $('#login-form').on('submit', function(e) {
                e.preventDefault();
            //
                $('#login-form').data('yiiActiveForm').submitting = true;
                $('#login-form').yiiActiveForm('validate');
            });
        })(jQuery);
    </script>
</body>
</html>
{{   void(this.endPage()) }}