{{ use('app/widgets/SocialList') }}

<div class="container">
    <span class="bg-nav">&nbsp;</span>
    <a href="{{  app.homeUrl }}"><strong class="logo">{{ app.name }}</strong></a>
    <span class="closed-menu">closed-menu</span>
    {{ menu_widget({
        'options': {
            'class': '',
            'id': 'nav'
        },
        'items': getMenu('Главное меню')
    }) }}

    {{ social_list_widget() }}
</div>