
<div class="top-head">
    <strong class="logo"><a href="{{ app.homeUrl }}" alt="logo">{{ app.name }}</a></strong>
    <div class="holder-ads">
        {#<a class="btn-ads" href="#">{{ t('app', 'Подать объявление') }} </a>#}
    </div>
    <div class="log-registration">
        {% set menuItems = [] %}
        {% if app.user.isGuest == false %}
        {% set menuItems = menuItems|merge([
                {
                    'label' : t('app', 'Выход'),
                    'url' : ['/site/logout'],
                    'linkOptions' : {'data-method' : 'post'},
                    'options' : {'tag':false},
                    'template':'<a href="{url}" class="btn-login" id="user_logout">{label} <i class="fas fa-sign-in-alt"></i></a>',
                    'linkOptions' : {'data-method' : 'post'}
                },
                {
                    'label' : app.user.identity.username,
                    'url' : ['/myaccount/'],
                    'options' : {'tag':false},
                    'template':'<a href="{url}" class="btn-login btn-profile">
                                    <div class="holder-img">
                                        <img src="'~getAvatar(app.user.id)~'" alt="profile_image">
                                    </div>
                                </a>'
                }
            ])
        %}
        {% else %}
            {% set menuItems = menuItems|merge([
                {
                    'label' : t('app', 'Регистрация'),
                    'url' : ['/site/account'],
                    'options' : { 'tag':false },
                    'template':'<a href="{url}#register"  class="btn-registration">{label}</a>'
                },
                {
                    'label' : t('app', 'Вход'),
                    'url' : ['/site/account'],
                    'options' : { 'tag':false },
                    'template':'<a href="{url}#login"  class="btn-login">{label}<i class="fas fa-sign-in-alt"></i></a>'
                },
            ])
        %}
    {% endif %}
        {{ menu_widget({
            'options': {
                'class': 'log-registration',
                'id': false,
                'tag':false
            },
            'items': menuItems
        }) }}
    {% if app.user.isGuest == false %}
        {{ beginform(['/site/logout'], 'post',{'style':'display:none'}) |raw}}
        {{ submitButton( t('app', 'Выход'), {'id':'logout'}) | raw}}
        {{ endform() |raw}}
    {% endif %}
    </div>
    <div class="mobile-nav-btn">
        <a href="#">
            <img src="images/bg-33.png" alt="img">
        </a>
        <a href="#">
            <img src="images/bg-34.png" alt="img">
        </a>
    </div>
    <a class="open-menu" href="#"></a>
    <ul class="list-language">
        {#<li class="active">#}
            {#<a href="#">{{ t('app', 'РУС') }}</a>#}
        {#</li>#}
        {#<li>#}
            {#<a href="#">{{ t('app', 'УКР') }}</a>#}
        {#</li>#}
    </ul>
    {% if app.user.isGuest == false %}
        <div class="popup-profile">
            <div class="head-profile">
                <strong class="logo"><a href="#">STICKIT</a></strong>
                <span class="closed-popup-profile">closed-menu</span>
            </div>
            <div class="seller clone">
                <div class="holder-img">
                    <img src="{{ getAvatar(app.user.id) }}" alt="img">
                </div>
                <div class="holder-text">
                    <a href="#" class="name">{{ getUsername(app.user.id)}}</a>
                    <span>{{ t('app', 'Дата регистрации') }}</span>
                    <span class="date">{{ getUserDate(app.user.id) }}</span>
                </div>
            </div>
            <ul class="sub-nav">
                <li>
                    <a href="{{  url.toRoute('/myaccount/edit') }}"><i class="fas fa-pencil-alt"></i> {{ t('app', 'Редактировать профиль') }}</a>
                </li>
                {#<li>#}
                    {#<a href="#"><i class="fas fa-plus-circle"></i> Создать объявление</a>#}
                {#</li>#}
                {#<li class="active">#}
                    {#<a href="#"><i class="fas fa-tags"></i> Мои объявления<sup><small>(12)</small></sup></a>#}
                {#</li>#}
                {#<li>#}
                    {#<a href="#"><i class="fas fa-star"></i> Избранное</a>#}
                {#</li>#}
                {#<li>#}
                    {#<a href="#"><i class="fas fa-comments"></i> Сообщения </a>#}
                {#</li>#}
            </ul>
        </div>
    {% endif %}
</div>