{{ set(this, 'title', t('app', 'Регистрация')) }}
{{ use('yii\\widgets\\ActiveForm') }}
{{ use('yii/helpers/Url') }}
{{ use('app/widgets/SearchAdverts') }}
{{ use('app/widgets/FooterInfo') }}
{{ search_adverts_widget() }}
<div class="promo-block" style="background-image: url({{ app.homeUrl }}images/bg-51.png)">
    <div class="container">
        <div class="login-registration">
            <div class="tabset">
                <ul id="account-panel" class="tab-control">
                    <li class="active">
                        <a href="#login">{{  t('app', 'Вход') }}</a>
                    </li>
                    <li>
                        <a href="#register">{{  t('app', 'Регистрация') }}</a>
                    </li>
                </ul>
                <div class="tab-body">
                    <div class="tab active">
                        {% block form_login %}
                            {% include 'forms/login.twig' %}
                        {% endblock %}
                        {% block form_recovery %}
                            {% include 'forms/recovery.twig' %}
                        {% endblock %}
                    </div>
                    <div class="tab">
                        {% block form_register %}
                            {% include 'forms/register.twig' %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ footer_info_widget() }}