{{ use('app/widgets/SearchAdverts') }}
{% if slider  %}
    <div class="promo-slider">
        {% for slide in slider %}
            <div>
                <div class="img" style="background-image: url({{ slide }});"></div>
            </div>
        {% endfor %}
    </div>
{% endif %}

{{ search_adverts_widget() }}

<div class="container">
    {% if adverts %}
        <ul class="list-progress">
            {% for advert in adverts %}
                <li>
                    <a href="{{ app.homeUrl }}{{ advert.link }}">
                        <div class="holder-img">
                            {% if loop.first %}
                                <i class="fas fa-car"></i>
                            {% elseif loop.last %}
                                <i class="fas fa-bullhorn"></i>
                            {% else %}
                                <i class="fas fa-pencil-ruler"></i>
                            {% endif %}
                        </div>
                        <div class="holder-text">
                            <strong>{{ advert.title }}</strong>
                            <p>0 {{ t('app', 'объявлений') }}</p>
                        </div>
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</div>

<div class="holder-section fon-grey relative">
    <div class="container">
        <div class="title-text">
            <h1>НОВЫЕ ОБЪЯВЛЕНИЯ</h1>
            <a class="old-ads" href="#">ВСЕ ОБЪЯВЛЕНИЯ</a>
        </div>
        <div class="slider-announcements">
            <ul class="list-announcements">
                <li class="premium">
                    <a class="like-star" href="#">&#160;</a>
                    <a href="#">
                        <div class="holder-img">
                            <img src="images/img-1.jpg" alt="img">
                        </div>
                        <div class="holder-text">
                            <span>Заголовок объявления</span>
                            <p>Транспорт</p>
                            <strong>500 <sup><small>грн/мес</small></sup></strong>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="like-star" href="#">&#160;</a>
                    <a href="#">
                        <div class="holder-img">
                            <img src="images/img-2.jpg" alt="img">
                        </div>
                        <div class="holder-text">
                            <span>Заголовок объявления</span>
                            <p>Транспорт</p>
                            <strong>500 <sup><small>грн/мес</small></sup></strong>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="like-star" href="#">&#160;</a>
                    <a href="#">
                        <div class="holder-img">
                            <img src="images/img-3.jpg" alt="img">
                        </div>
                        <div class="holder-text">
                            <span>Заголовок объявления</span>
                            <p>Транспорт</p>
                            <strong>500 <sup><small>грн/мес</small></sup></strong>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="like-star" href="#">&#160;</a>
                    <a href="#">
                        <div class="holder-img">
                            <img src="images/img-4.jpg" alt="img">
                        </div>
                        <div class="holder-text">
                            <span>Заголовок объявления</span>
                            <p>Транспорт</p>
                            <strong>500 <sup><small>грн/мес</small></sup></strong>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
{% if promo %}
    <div class="holder-section relative">
    <div class="container">
        <div class="title-text">
            {% if news  %}
            <h1>{{ news.title }}</h1>
            <a class="old-ads" href="{{ url.to(['news/category/'~news.link]) }}">{{ t('app', 'Все акции') }}</a>
            {% endif %}
        </div>
        <div class="promotion">
            {% for item in promo %}
                {% if loop.first %}
                <div class="big-promotion">
                    <a href="{{ url.to(['news/'~item.link]) }}" class="holder-img">
                        <div class="date">
                            <strong>{{ item.created_at |date( 'd') }}</strong>
                            <span>{{ t('app', item.created_at |date('F', 'M') ) }}</span>
                        </div>
                        <strong class="title">{{ item.title }}</strong>
                        {% if  item.post_image  %}
                            <picture>
                                <source srcset="{{ item.post_image }}" media="(max-width: 850px)">
                                <source srcset="{{ item.post_image }}" media="(min-width: 851px)">
                                <img src="{{ item.post_image }}" alt="img">
                            </picture>
                        {% endif %}
                    </a>
                </div>
                {% elseif loop.last %}
                    <a href="{{ url.to(['news/'~item.link]) }}" class="small-promotion">
                        <div class="holder-img">
                            <div class="date">
                                <strong>{{ item.created_at |date( 'd') }}</strong>
                                <span>{{ t('app', item.created_at |date('F', 'M') ) }}</span>
                            </div>
                            <strong class="title">{{ item.title }}</strong>
                            {% if  item.post_image  %}
                                <img src="{{ item.post_image }}" alt="img">
                            {% endif %}
                        </div>
                    </a>
                {% else %}
                    <div class="small-promotion">
                        <a href="{{ url.to(['news/'~item.link]) }}" class="holder-img">
                            <div class="date">
                                <strong>{{ item.created_at |date( 'd') }}</strong>
                                <span>{{ t('app', item.created_at |date('F', 'M') ) }}</span>
                            </div>
                            <strong class="title">{{ item.title }}</strong>
                            {% if  item.post_image  %}
                                <img src="{{ item.post_image }}" alt="img">
                            {% endif %}
                        </a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

    </div>
</div>
{% endif %}
<div class="accordion">
    <div class="holder-section fon-grey">
        <div class="container">
            <div class="item-accordion">
                <div class="title-text">
                    <h1 class="btn-accordion">КАК ЭТО РАБОТАЕТ?</h1>
                </div>
                <div class="content-accordion">
                    <div class="holder-box-hidden">
                        {{ model.options.how_it_works | raw }}
                        <a class="btn-show-more" href="{{ url.toRoute('/how-it-works') }}">{{ t('app', 'Читать дальше...') }}</a>
                    </div>
                    <ul class="proposal-list">
                        <li>
                            <a href="{{ url.toRoute('/account#register') }}">
                                <strong>зарегистрируйтесь</strong>
                                <span>Это бесплатно!</span>
                            </a>
                        </li>
                        <li>
                            <span class="bottom-strip"></span>
                            <div class="holder-block">
                                <div class="holder-img">
                                    <img src="images/bg-15.png" alt="img">
                                </div>
                                <div class="holder-text">
                                    <strong>Создайте <br>Объявление</strong>
                                </div>
                            </div>
                        </li>
                        <li>
                            <span class="top-strip"></span>
                            <div class="holder-block">
                                <div class="holder-img">
                                    <img src="images/bg-16.png" alt="img">
                                </div>
                                <div class="holder-text">
                                    <strong>Найдите <br>Клиента</strong>
                                </div>
                            </div>
                        </li>
                        <li>
                            <span class="bottom-strip"></span>
                            <div class="holder-block">
                                <div class="holder-img">
                                    <img src="images/bg-17.png" alt="img">
                                </div>
                                <div class="holder-text">
                                    <strong>Выполните <br>договор</strong>
                                </div>
                            </div>
                        </li>
                        <li>
                            <span class="top-strip"></span>
                            <div class="holder-block">
                                <div class="holder-img">
                                    <img src="images/bg-18.png" alt="img">
                                </div>
                                <div class="holder-text">
                                    <strong>Получите <br>оплату</strong>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="holder-box-hidden white">
                        {{ model.seo_text | raw }}
                        <a class="btn-show-more" href="#">Читать дальше...</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="holder-section">
        <div class="container">
            <div class="adver-group">
                <div class="item-accordion">
                    <div class="advert">
                        <strong class="btn-accordion">Объявления в городах</strong>
                    </div>
                    <div class="holder-text content-accordion">
                        <p><a href="#">Lorem</a>, <a href="#">ipsum</a>, <a href="#">dolor</a>, <a href="#">sit amet</a>, <a href="#">consectetur</a>, <a href="#">adipiscing</a>, <a href="#">elit</a>, <a href="#">nunc in eros</a>, <a href="#">posuere euismod</a>, <a href="#">in a tortor</a>, <a href="#">Phasellus nunc orci</a>, <a href="#">vehicula in</a>, <a href="#">hendrerit eu</a>, <a href="#">hendrerit quis neque</a>, <a href="#">Duis eget turpis</a>, <a href="#">nec enim vulputate</a>, <a href="#">tristique vel vel sem</a>. <a href="#">Etiam sagittis</a>, <a href="#">facilisis nisl</a>, <a href="#">id ultricies</a>, <a href="#">ante commodo</a>, <a href="#">vitae</a>. <a href="#">Class aptent</a>, <a href="#">taciti sociosqu</a>, <a href="#">ad litora torquent</a>, <a href="#">per conubia nostra</a>, <a href="#">per inceptos</a>, <a href="#">himenaeos</a>. <a href="#">Integer nec elit</a>, <a href="#">sollicitudin</a>, <a href="#">vehicula massa vel</a>, <a href="#">accumsan dolor</a>, <a href="#">Phasellus placerat</a>, <a href="#">quam justo</a>, <a href="#">eu porttitor</a>, <a href="#">ante imperdiet a</a>. </p>
                    </div>
                </div>
            </div>
            <div class="adver-group">
                <div class="item-accordion">
                    <div class="advert">
                        <strong class="btn-accordion">Интересные <br>предложения</strong>
                    </div>
                    <div class="holder-text content-accordion">
                        <p><a href="#">Lorem</a>, <a href="#">ipsum</a>, <a href="#">dolor</a>, <a href="#">sit amet</a>, <a href="#">consectetur</a>, <a href="#">adipiscing</a>, <a href="#">elit</a>, <a href="#">nunc in eros</a>, <a href="#">posuere euismod</a>, <a href="#">in a tortor</a>, <a href="#">Phasellus nunc orci</a>, <a href="#">vehicula in</a>, <a href="#">hendrerit eu</a>, <a href="#">hendrerit quis neque</a>, <a href="#">Duis eget turpis</a>, <a href="#">nec enim vulputate</a>, <a href="#">tristique vel vel sem</a>. <a href="#">Etiam sagittis</a>, <a href="#">facilisis nisl</a>, <a href="#">id ultricies</a>, <a href="#">ante commodo</a>, <a href="#">vitae</a>. <a href="#">Class aptent</a>, <a href="#">taciti sociosqu</a>, <a href="#">ad litora torquent</a>, <a href="#">per conubia nostra</a>, <a href="#">per inceptos</a>, <a href="#">himenaeos</a>. <a href="#">Integer nec elit</a>, <a href="#">sollicitudin</a>, <a href="#">vehicula massa vel</a>, <a href="#">accumsan dolor</a>, <a href="#">Phasellus placerat</a>, <a href="#">quam justo</a>, <a href="#">eu porttitor</a>, <a href="#">ante imperdiet a</a>. </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>