{{ use('app/widgets/SearchAdverts') }}
{{ search_adverts_widget() }}
<div class="holder-crumbs">
    <div class="container">
        <div class="holder-bread-crumbs">
            <ul class="bread-crumbs">
                <li>
                    <a href="#">Главная</a>
                </li>
                <li>Политика конфиденциальности</li>
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <div class="group-content revers">
        <div class="aside-right">
            <div class="aside">
                <span class="aside-title">Информация</span>
                <div class="aside-content">
                    <ul class="nav-aside">
                        <li>
                            <a href="{{ url.toRoute('/how-it-works') }}">{{ t('app', 'Как это работает?') }}</a>
                        </li>
                        <li class="active">
                            <a href="">{{ t('app', 'Политика конфиденциальности') }}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="title-text">
                <h1>{{ model.title | raw }}</h1>
            </div>
            {{ model.options.content | raw }}
        </div>
    </div>
</div>

<div class="accordion">
    <div class="holder-section">
        <div class="container">
            <div class="holder-box-hidden clone">
                {{ model.seo_text | raw }}
                <a class="btn-show-more" href="#">Читать дальше...</a>
            </div>
            {#<div class="adver-group">#}
                {#<div class="item-accordion">#}
                    {#<div class="advert">#}
                        {#<strong class="btn-accordion">Объявления в городах</strong>#}
                    {#</div>#}
                    {#<div class="holder-text content-accordion">#}
                        {#<p><a href="#">Lorem</a>, <a href="#">ipsum</a>, <a href="#">dolor</a>, <a href="#">sit amet</a>, <a href="#">consectetur</a>, <a href="#">adipiscing</a>, <a href="#">elit</a>, <a href="#">nunc in eros</a>, <a href="#">posuere euismod</a>, <a href="#">in a tortor</a>, <a href="#">Phasellus nunc orci</a>, <a href="#">vehicula in</a>, <a href="#">hendrerit eu</a>, <a href="#">hendrerit quis neque</a>, <a href="#">Duis eget turpis</a>, <a href="#">nec enim vulputate</a>, <a href="#">tristique vel vel sem</a>. <a href="#">Etiam sagittis</a>, <a href="#">facilisis nisl</a>, <a href="#">id ultricies</a>, <a href="#">ante commodo</a>, <a href="#">vitae</a>. <a href="#">Class aptent</a>, <a href="#">taciti sociosqu</a>, <a href="#">ad litora torquent</a>, <a href="#">per conubia nostra</a>, <a href="#">per inceptos</a>, <a href="#">himenaeos</a>. <a href="#">Integer nec elit</a>, <a href="#">sollicitudin</a>, <a href="#">vehicula massa vel</a>, <a href="#">accumsan dolor</a>, <a href="#">Phasellus placerat</a>, <a href="#">quam justo</a>, <a href="#">eu porttitor</a>, <a href="#">ante imperdiet a</a>. </p>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
            {#<div class="adver-group">#}
                {#<div class="item-accordion">#}
                    {#<div class="advert">#}
                        {#<strong class="btn-accordion">Интересные <br>предложения</strong>#}
                    {#</div>#}
                    {#<div class="holder-text content-accordion">#}
                        {#<p><a href="#">Lorem</a>, <a href="#">ipsum</a>, <a href="#">dolor</a>, <a href="#">sit amet</a>, <a href="#">consectetur</a>, <a href="#">adipiscing</a>, <a href="#">elit</a>, <a href="#">nunc in eros</a>, <a href="#">posuere euismod</a>, <a href="#">in a tortor</a>, <a href="#">Phasellus nunc orci</a>, <a href="#">vehicula in</a>, <a href="#">hendrerit eu</a>, <a href="#">hendrerit quis neque</a>, <a href="#">Duis eget turpis</a>, <a href="#">nec enim vulputate</a>, <a href="#">tristique vel vel sem</a>. <a href="#">Etiam sagittis</a>, <a href="#">facilisis nisl</a>, <a href="#">id ultricies</a>, <a href="#">ante commodo</a>, <a href="#">vitae</a>. <a href="#">Class aptent</a>, <a href="#">taciti sociosqu</a>, <a href="#">ad litora torquent</a>, <a href="#">per conubia nostra</a>, <a href="#">per inceptos</a>, <a href="#">himenaeos</a>. <a href="#">Integer nec elit</a>, <a href="#">sollicitudin</a>, <a href="#">vehicula massa vel</a>, <a href="#">accumsan dolor</a>, <a href="#">Phasellus placerat</a>, <a href="#">quam justo</a>, <a href="#">eu porttitor</a>, <a href="#">ante imperdiet a</a>. </p>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        </div>
    </div>
</div>