{{ use('yii\\widgets\\Breadcrumbs') }}
{{ use('app/widgets/SearchAdverts') }}
{{ use('app/widgets/UserBar') }}
{{ use('app/widgets/FooterInfo') }}
{{ search_adverts_widget() }}
<div class="holder-crumbs">
    <div class="container">
        <div class="holder-bread-crumbs">
            {{ set(this, 'params', { 'breadcrumbs' : { '' : this.title } }) }}
            {{ breadcrumbs_widget({

                'links': breadcrumbs,
                'options': {
                    'class': 'bread-crumbs'
                }

            }) | raw }}
        </div>
    </div>
</div>
<div class="container">
    <div class="title-text clone">
        <h1>{{ t('app', 'Личный кабинет') }}</h1>
    </div>
    <div class="group-content">
        {{ user_bar_widget({
            'user' : user
        }) |raw }}
        <div class="content">
            {#<div class="user-message">#}
                {#<a href="#"><i class="fas fa-comments"></i> Сообщения<span>22</span></a>#}
            {#</div>#}
            <div class="user-message">
                <a href="#"><i class="fas fa-tags"></i> {{ t('app', 'Активные объявления') }}<span>3</span></a>
            </div>
            <div class="holder-user-message">
                <div class="user-message">
                    <a href="#"><i class="fas fa-calendar-check"></i> {{ t('app', 'Объявления на подтверждении') }}<span>2</span></a>
                </div>
                <div class="user-message">
                    <a href="#"><i class="fas fa-eye-slash"></i> {{ t('app', 'Архив') }}<span>15</span></a>
                </div>
            </div>
        </div>
    </div>
</div>
{{ footer_info_widget() | raw }}