<ul class="sub-nav">
    <li class="active">
        <a href="{{  url.toRoute('/myaccount/edit') }}"><i class="fas fa-pencil-alt"></i> {{ t('app', 'Редактировать профиль') }}</a>
    </li>
    <li>
        <a href="{{  url.toRoute('/myaccount/create') }}"><i class="fas fa-plus-circle"></i> {{ t('app', 'Создать объявление') }}</a>
    </li>
    <li>
        <a href="{{  url.toRoute('/myaccount/posts') }}"><i class="fas fa-tags"></i> {{ t('app', 'Мои объявления') }}<sup><small>(12)</small></sup></a>
    </li>
    {#<li>#}
        {#<a href="#"><i class="fas fa-star"></i> Избранное</a>#}
    {#</li>#}
    {#<li>#}
        {#<a href="#"><i class="fas fa-comments"></i> Сообщения </a>#}
    </li>
</ul>