{{ use('app/widgets/SocialAuth') }}
{% set form = active_form_begin({
    'id': 'login-form',
    'enableAjaxValidation': true,
    'enableClientValidation': false,
    'options': {
        'class': 'for-login',
    },
    'fieldConfig': {
        'options': {
            'tag':'div',
            'class' : 'holder-input'
        }
    }
}) %}
<fieldset>
    {{ form.field(loginModel, 'email').label(false).input('email',{'placeholder':'E-Mail', 'readonly':true}) | raw }}
    {{ form.field(loginModel, 'password').label(false).passwordInput({'placeholder':'Пароль', 'readonly':true}) | raw }}
    {{ form.field(loginModel, 'rememberMe', {'options' : {'class':'holder-checkbox'}, 'template':"<label>{input}<span><i class='fas fa-check'></i> "~ t('app', 'Запомнить меня')}).label(false).checkbox([], false) | raw }}
    {{ submitButton(t('app','Войти'), {
        'class': 'btn-orange',
    }) | raw }}
    <a class="forgot" href="#">{{ t('app', 'Забыли пароль?') }}</a>
    {{ social_auth_widget({
        'baseAuthUrl' : ['site/auth'],
    }) }}
</fieldset>
{{ active_form_end() }}