<div class="main-menu">
    <div class="menu-inner">
        <nav>
            <ul class="metismenu" id="menu">
                <li class="active">
                    <a href="javascript:void(0)" aria-expanded="true"><i class="ti-dashboard"></i><span>dashboard</span></a>
                </li>
                <li><a href="#">Меню</a></li>
                <li><a href="#">Страницы</a></li>
                <li>
                    <a href="#">Новости</a>
                    <ul class="collapse">
                        <li class=""><a href="{{ url.toRoute(['/admin/blog/index']) }}">Новости</a></li>
                        <li class=""><a href="{{ url.toRoute(['/admin/blog/create']) }}">Создать новую запись</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Категории</a>
                    <ul class="collapse">
                        <li class=""><a href="{{ url.toRoute(['/admin/categories/index']) }}">Категории</a></li>
                        <li class=""><a href="{{ url.toRoute(['/admin/categories/create']) }}">Создать категорию</a></li>
                    </ul>
                </li>
                <li><a href="{{ url.toRoute(['/rbac/user/index']) }}">Пользователи</a></li>
                <li><a href="#">Настройки сайта</a></li>
            </ul>
        </nav>
    </div>
</div>